<div class="container">
    <div class="jumbotron">
        <h1>Your comment has been posted succefully!</h1>
    </div>
    <div>
        <img src="~/images/feedbackImage.jpg" style="width:600px; margin-left:230px;margin-bottom:140px" />
    </div>
</div>
