
@{
    ViewData["Title"] = "About Page";
}

<div class="row" style="margin-bottom:10px">
    <img src="~/images/about_4.png" />
</div>
<div class="container">
    <br />
    <br />
    <br />
    <div class="row mb-2">
        <div class="col-md-6">
            <img src="/images/8.png" style="width:400px" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>WELCOME TO </h2> &nbsp; <h2 style="color:pink">VESOZ</h2>
                <p>
                    Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in
                </p>
            </div>
            <br />
            <br />
            <div class="row">
                <h5><b>WIN BEST ONLINE SHOP AT @DateTime.Now.Year</b></h5>
                <p>
                    Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>OUR VISSION</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Nunc tincidunt ante vitae massa. Praesent vitae arcu tempor neque lacinia pretium. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Integer vulputate sem a nibh rutrum consequat. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Pellentesque sapien. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Maecenas lorem.
                </p>
            </div>
            <div class="col-sm">
                <h2>OUR  MISSION</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Nunc tincidunt ante vitae massa. Praesent vitae arcu tempor neque lacinia pretium. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Integer vulputate sem a nibh rutrum consequat. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Pellentesque sapien. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Maecenas lorem.
                </p>
            </div>
            <div class="col-sm">
                <h2>OUR GOAL</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer tempor. Nunc tincidunt ante vitae massa. Praesent vitae arcu tempor neque lacinia pretium. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Integer vulputate sem a nibh rutrum consequat. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Pellentesque sapien. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Maecenas lorem.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <img  src="~/images/16.png"  width="1100"/>
    </div>

</div>
